{% extends 'base.html' %}
{% load static %}
{% block title %} Add expenses {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="bod">
    <h2>Add Expense Data</h2>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
        <h3 class="warning" style="font-weight:bold;">PLEASE ENSURE THE INFORMATION IS CORRECT BEFORE POSTING THE DATA </h3>
    <button type="submit" class="btn-success">Submit</button>
    </form>
    <a href="{% url 'finance' %}" style="color:red; font-weight:bold;">Back to Dashboard</a>
</div>
<script>
    let logoutTimer;

    // Function to reset the inactivity timer
    function resetTimer() {
        clearTimeout(logoutTimer);
        logoutTimer = setTimeout(() => {
            // Redirect to the logout URL after 5 minutes of inactivity
            window.location.href = "{% url 'logout' %}";
        }, 5 * 60 * 1000); // 5 minutes
    }

    // Events to listen for activity
    window.onload = resetTimer;
    document.onmousemove = resetTimer;
    document.onkeypress = resetTimer;
    document.onscroll = resetTimer;
    document.onclick = resetTimer;
</script>

{% endblock %}
