{% extends 'base.html' %}
{% block title %} Query Records {% endblock %}
{% block content %}

<div class="bod">
    <form method="GET">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date|default:'' }}" required>

        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date|default:'' }}" required>

        <button type="submit">Search</button>
    </form>

    <hr>

    <h3>Summary for the period:
        {% if start_date and end_date %}
            {{ start_date }} to {{ end_date }}
        {% else %}
            Select a date range
        {% endif %}
    </h3>

    <h4>Total Sales:</h4>
    <p style="font-weight:bold;">₦{{ total_sales }}</p>

    <h4>Total Expenses:</h4>
    <p style="font-weight:bold;">₦{{ total_expenses }}</p>

    <h4>Total Bags Produced:</h4>
    <p style="font-weight:bold;">{{ total_production }}</p>

    <h4>Total Stereo Used:</h4>
    <p style="font-weight:bold;">{{ total_stereo_used|floatformat:2 }}Kg</p>

    <h4>Total Packaging Bags used:</h4>
    <p style="font-weight:bold;">{{ total_packaging_bags_used }}</p>

    <h4>Total Diesel Used:</h4>
     <p style="font-weight:bold;">{{ total_diesel_used }}</p>



    <h4>Total Cost of Production: ₦{{ total_production_cost  }}</h4>
    <p style="font-weight:bold;">Production Cost per Bag: ₦{{ production_cost_per_bag }}</p>



</div>



{% endblock %}
