{% extends 'base.html' %}
{% load static %}
{% block title %} Supervisor {% endblock %}
{% block content %}

<div class="bod">
      <h1>Welcome {{ user.username }}</h1>

    <!-- Summary Section -->
<div class="stat">
    <table>

        <p style="font-weight:bold;">Total Staff: {{ total_staff }}</p>
        <p style="font-weight:bold;">Total Sales (Bags Sold): {{ total_sales }}</p>
        <p style="font-weight:bold;">Total Bags Produced: {{ total_bags_produced }}</p>
        <p style="font-weight:bold;">Total Sales: {{ grand_total }}</p>
        <p style="font-weight:bold;">Total expenses: {{ total_expenses }}</p>
        <p style="font-weight:bold;">Net: {{ net }}</p>
        <p style="font-weight:bold;">Average Daily sales: {{ average_sales }}</p>

        {% if available_stereo < lower_stereo_limit %}
            <p style="background-color:red; color:white; font-weight:bold;">Restock stereo {{ available_stereo }}Kg remaining</p>
        {% else %}
            <p style="font-weight:bold;">Available stereo: {{ available_stereo }}Kg</p>
        {% endif %}

        {% if available_packaging_bags < lower_packaging_bags_limit %}
            <p style="background-color:red; color:white; font-weight:bold;">Restock packaging bags {{ available_packaging_bags }} remaining</p>
        {% else %}
            <p>Available packaging bags: {{ available_packaging_bags }}</p>
        {% endif %}

        <p ><a href="{% url 'query_records' %}" class="btn" style="font-weight:bold;">Go to Query Page</a></p>
    </table>
</div>


    <!-- Graph Section -->
    <div class="graph">
        <div class="chart-container">
            <h4>Bank Contributions</h4>
            <canvas id="bankGraph"></canvas>
        </div>
    </div>

     <!-- Operations Records -->
    <div class="records">
        <h3>Latest Operations Records</h3>
        <div class="scrollable-container">
            <table>
                <thead>
                    <tr>
                        <th>Date Produced</th>
                        <th>Bags Produced</th>
                        <th>To Sales</th>
                        <th>Returned</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in operations_records %}
                    <tr>
                        <td>{{ record.date_produced }}</td>
                        <td>{{ record.bags_produced }}</td>
                        <td>{{ record.bags_pushed_to_sales }}</td>
                        <td>{{ record.bags_returned }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No operations records available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <!-- Sales Record -->
       <div>

    <div class="scrollable-container">
        <table>
            <thead>
            <tr><h3>Latest Sales Records</h3></tr>
                <tr>
                    <th>Date of Sale</th>
                    <th>From Production</th>
                    <th>Discount</th>
                    <th>Bags Sold</th>
                    <th>Returned</th>
                    <th>Keystone</th>
                    <th>Moniepoint</th>
                    <th>Zenith</th>
                    <th>Cash</th>
                    <th>Total</th>
                    <th>Discrepancy</th>
                </tr>
            </thead>
            <tbody>
                {% for record in sales_records %}
                {% if record.expected_total != record.total %}
                <tr style="background-color: red; color: white; font-weight: bold;">
                    <td>{{ record.date_of_sale }}</td>
                    <td>{{ record.bags_received_from_production }}</td>
                    <td>{{ record.applied_discount }}</td>
                    <td>{{ record.bags_sold }}</td>
                    <td>{{ record.bags_returned }}</td>
                    <td>{{ record.keystone}}</td>
                    <td>{{ record.moniepoint }}</td>
                    <td>{{ record.zenith }}</td>
                    <td>{{ record.cash }} </td>
                   <td style="background-color: red; color: white; font-weight: bold;">
                    {{ record.total }}
                    </td>
                    <td >
                    <h4>CHECK</h4>
                    </td>
                </tr>

                <tr>
                    <td colspan="11">No sales records available.</td>
                </tr>
                {% else %}
                   <tr>
                    <td>{{ record.date_of_sale }}</td>
                    <td>{{ record.bags_received_from_production }}</td>
                    <td>{{ record.applied_discount }}</td>
                    <td>{{ record.bags_sold }}</td>
                    <td>{{ record.bags_returned }}</td>
                    <td>{{ record.keystone}}</td>
                    <td>{{ record.moniepoint }}</td>
                    <td>{{ record.zenith }}</td>
                    <td>{{ record.cash }} </td>
                   <td>
                    {{ record.total }}
                    </td>
                    <td>
                    <h4>NONE</h4>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<h3>Latest Expenses Records</h3>
<div class="scrollable-container">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for record in finance_records %}
            <tr>
                <td>{{ record.date_of_expense }}</td>
                <td>{{ record.expense_title }}</td>
                <td>{{ record.amount }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No Expenses records available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="{% url 'receipt_list' %}" class="btn btn-primary">View Receipts</a>

     <div class="scrollable-container">
                <h2>Finance comments</h2>
                {% for record in finance_records %}
                {% if record.comments %}
                <table>

                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>{{ record.date_of_expense }}</td>
                            <td>{{ record.comments }}</td>

                        </tr>


                    </tbody>
                </table>
                {% else %}
                <table>

                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">No Comments available.</td>
                        </tr>

                    </tbody>
                </table>
                {% endif %}
                {% endfor %}
             </div>

             <div class="scrollable-container">
                <h2>Operations comments</h2>
                 {% for record in operations_records %}
                {% if record.comments %}
                <table>

                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>{{ record.date_produced }}</td>
                            <td>{{ record.comments }}</td>

                        </tr>


                    </tbody>
                </table>
                {% else %}
                <table>

                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">No Comments available.</td>
                        </tr>

                    </tbody>
                </table>
                {% endif %}
                 {% endfor %}
             </div>
             <div class="scrollable-container">
                <h2>Sales comments</h2>
                 {% for record in sales_records %}
                {% if record.comments %}
                <table>

                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>{{ record.date_of_sale }}</td>
                            <td>{{ record.comments }}</td>

                        </tr>


                    </tbody>
                </table>
                 {% endif %}
                 {% endfor %}
                 </div>
<div class="staff_list">
    <h3>STAFF LIST</h3>
    {% for data in staff_info %}
    <p style="font-weight:bold;">
        {% if data.name %}
            <a href="{% url 'staff' data.name %}" style="color:red;">{{ data.name }} </a> {{ data.surname }}/ Role: {{ data.role }}
        {% else %}
            <p>Admin</p>
        {% endif %}
    </p>
    {% endfor %}
</div>

</div>

<!-- Include Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const bankData = {
        labels: ['Keystone', 'Zenith', 'Moniepoint'],
        datasets: [{
            label: 'Bank Contributions',
            data: [{{ total_keystone }}, {{ total_zenith }}, {{ total_moniepoint }}],
            backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56']
        }]
    };
    const bankConfig = {
        type: 'bar',
        data: bankData
    };
    new Chart(document.getElementById('bankGraph'), bankConfig);

    // Function to reset the inactivity timer
    function resetTimer() {
        clearTimeout(logoutTimer);
        logoutTimer = setTimeout(() => {
            window.location.href = "{% url 'logout' %}";
        }, 5 * 60 * 1000);
    }

    window.onload = resetTimer;
    document.onmousemove = resetTimer;
    document.onkeypress = resetTimer;
    document.onscroll = resetTimer;
    document.onclick = resetTimer;
</script>
{% endblock %}
