<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}?v=2.0">
</head>
<body style="background-image:url('{% static 'images/sl.jpg' %}')">
{% if user.is_authenticated %}
<div class="nav">
    <h1>SWANLAKE HOUSEHOLDS</h1>
    <a href="{% url 'logout' %}">Logout</a>

</div>
{% else %}
<div class="nav">
    <h1>SWANLAKE HOUSHOLDS</h1>

</div>
 {% endif %}
{% block content %}
{% endblock %}
<script>
    let timeout = 300000;  // 5 minutes in milliseconds (300 * 1000)
    let logoutUrl = "{% url 'logout' %}";  // Ensure 'logout' is correctly defined in urls.py

    let timer = setTimeout(() => {
        window.location.href = logoutUrl;
    }, timeout);

    document.onmousemove = document.onkeypress = () => {
        clearTimeout(timer);
        timer = setTimeout(() => {
            window.location.href = logoutUrl;
        }, timeout);
    };
</script>
</body>
</html>